<p>
  Hi <%= @user.name %>,
  You have requested to reset your password for your account on Prime Villa.

  You can reset your password within the next 15 minutes using this link:
  <%= link_to "password reset page", edit_password_url(@user.password_reset_token) %>.

  Regards,

  The Prime Villa Team
</p>
