<h1>Rent Due for SS Hall</h1>
<p>Hi  <%= @full_name %>,</p>
<p>
  Thank you for continuing to stay in the hostel.

  You rent is due in a month and we would like you to start making preparation for pay before your current tenancy expires on <%= @tenancy_end_date %>.
</p>
<p>
  Please contact us by email if payment on time is going to be an issue for you. Alternatively if you do not wish you renew your tenancy, please inform us as well.

  Please pay into:
  Samuel Adesoga
  Zenith Bank 2283023374
</p>
<p>Regards,
  <br>
  The Management,
  <br>
  SS Hall (The Prime Villa)
  <br>
  www.theprimevilla.com
</p>
