<h1><%= @user.name %> Welcome to SS Hall Hostel Management System</h1>
<p>
  An account has been created for you on the SS Hall Hostel Management System.<br>
  To login, please use the following credentials:<br>
  Login URL: <%= login_url %><br>
  Email: <%= @user.email_address %>.<br>
  Password: <%= @password %>
</p>
<p>
  This application is designed to help you manage your hostel stay efficiently. You can view your room details, tenancy information, and more.<br>
  If you have any questions or need assistance, please feel free to reach out to the hostel management team.
</p>
<p>Thank you and we wish you a plesant stay at the Hostel</p>

<p>Many Regards, <br> <br>
SS Hall Hostel Management Team</p>
</p>