<%= turbo_stream.replace @tenancy do %>
  <tr id="#">
    <td class="px-5 py-4 sm:px-6"><%= @tenancy.room&.name %></td>
    <td class="px-5 py-4 sm:px-6">Empty</td>
    <td class="px-5 py-4 sm:px-6">Empty</td>
    <td class="px-5 py-4 sm:px-6">Empty</td>
    <td class="px-5 py-4 sm:px-6">Empty</td>
  </tr>
<% end %>
