  <h1 class="font-bold text-4xl">Tenancy Record</h1>
  <p>List of all Tenancy Records</p>
  <ul>
    <% if Current.user.tenancies.empty? %>
      <li>No tenancies found.</li>
    <% else %>
      <% Current.user.tenancies.order(end_date: :desc).each do |tenancy| %>
          <li>
            <strong>Room:</strong> <%= tenancy.room.name %><br>
            <strong>Start Date:</strong> <%= tenancy.start_date %><br>
            <strong>End Date:</strong> <%= tenancy.end_date %>
          </li>
        <% end %>
    <% end %>
  </ul>